<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- Spring config par Annotations -->
	<context:annotation-config />

	<context:component-scan base-package="com.terrier.finances.gestion" />
	<context:component-scan base-package="com.terrier.finances.gestion.business.auth" />

	<!-- Thread pool -->
	<task:scheduler id="notification.scheduler" pool-size="15" />
	<task:annotation-driven />
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    <property name="messageConverters">
	        <list>
	            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
	        </list>
	    </property>
	</bean>
		
	<!-- Properties par Config.properties -->
	<context:property-placeholder location="classpath:config.properties" ignore-resource-not-found="true" />
	
</beans>
