sudo: required

language: java

services:
  - docker
cache:
    directories:
      - $HOME/.m2
git:
  depth: false
# Notification SLACK
 notifications:
    slack: "vsOHo4Chai7jU0W7VBZvJLowJhGBSaIlz6ioXqIMRYa2cdXudgwq23i2EDQ65hAj8gJLrMwMc5il105qV8WdExaaomwM1fmm4onmDXKFGTVsemG+X9rul2Y0ii2VklvmKw7jBdEKbJwE3/zmtYV7+rcI1FDP4/jNQklvkMODBK8vPrvLGapSl8K9Gfuhnf5RIJimHLPPK1584YlF7WXjq47Dce420bG6VdACrQ2OJiDcubei1MM+ov6sTaAin4jc1URrPegXjEKt4ckQK+HderVwy6SZMWoPXDG3uSC0p+7YTlOnFeMIA0TJku7ueCtEkjg14k+vJJTjGLXE41MB0h37n9PBWeWUwxF4xRbKtWmynMXbABPoEjwFJrnVoY8cr6AWcFeguat/y3iTRMaYI7LxiWhAyMyPJ0QoJfQNqN/ZkvExOae96Eb7Oy9UzSJ5gPefuNlcmqBM69cabgZH2PHVig88HFHyTKBul1vXXiSTcnPavjQq3eY2NR8pTqye7LJggc3rAEhmmai7AXjEajaBoUWRib1jIHDNMNYsQxbs2I4Onwgu4XCLEZdrzXTWFPmDr0wdpO2mm5z1uNdqqQUrFbdvWAUvKUVuQzhAuF+3DQuPuP7r2mGTn0Macb/KJ6rrqNpx+A3iHbQ7uvhwv0QJJh7jxLPz+dR83FxmtWQ="
before_install:
# Version tagguée > Application de la version sur Maven
  - if [[ $TRAVIS_BRANCH == v* ]]; 
    then 
        VERSION=$(echo $TRAVIS_BRANCH | cut -b 2-); 
    else 
        VERSION=`mvn -q -N org.codehaus.mojo:exec-maven-plugin:exec  -Dexec.executable='echo' -Dexec.args='${project.version}'` ; 
        VERSION=$(echo $VERSION | sed -r 's/(-SNAPSHOT)+//gi')-SNAPSHOT; 
    fi; 
    echo "Application de la version $VERSION"; 
    mvn versions:set -DnewVersion=$VERSION; 
    mvn versions:commit;
  
install: 
  - mvn clean install -DskipTests=true -B -P openshift

script:
  # Tag de snapshot. C'est un tag pour permettre le déploiement sur GitHUB.
  - if [ ${TRAVIS_BRANCH} = "master" ]; 
    then 
      echo "ReTag de snapshot"; 
      git tag -d snapshot; 
      git push https://$GITHUB_API_KEY@github.com/vzwingma/gestion-budget :refs/tags/snapshot; 
      git tag snapshot; 
      git push https://$GITHUB_API_KEY@github.com/vzwingma/gestion-budget --tags; 
    else 
      echo "Pas de reTag de snapshot"; 
    fi
  # Merge sur la branche coverity
  - if [ ${TRAVIS_BRANCH} = "master" ]; 
    then 
      echo "Merge vers la branche Coverity"; 
      git fetch --all; 
      git branch coverity_scan origin/coverity_scan; 
      git checkout coverity_scan; 
      git merge master; 
      git push https://$GITHUB_API_KEY@github.com/vzwingma/gestion-budget; 
    else 
      echo "Pas de merge vers la branche Coverity"; 
    fi

# Déploiement des releaes sur tag : snapshot ou version 
before_deploy:
  - cp ~/build/vzwingma/gestion-budget/target/webapps/budget.war ~/build/vzwingma/gestion-budget/src/main/external-ressources/docker/budget.war
  - cd ~/build/vzwingma/gestion-budget/src/main/external-ressources/docker
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
  - docker build -t vzwingmann/gestion_budget:travis .
  - if [[ $TRAVIS_BRANCH == v* ]]; 
    then 
        VERSION=$(echo $TRAVIS_BRANCH | cut -b 2-); 
        docker tag vzwingmann/gestion_budget:travis vzwingmann/gestion_budget:$VERSION ; 
        docker push vzwingmann/gestion_budget:$VERSION ; 
        docker tag vzwingmann/gestion_budget:travis vzwingmann/gestion_budget:latest ; 
        docker push vzwingmann/gestion_budget:latest ; 
    else 
       docker tag vzwingmann/gestion_budget:travis vzwingmann/gestion_budget:$TRAVIS_BRANCH ; 
       docker push vzwingmann/gestion_budget:$TRAVIS_BRANCH ; 
    fi;   

deploy:
# Déploiement des releaes sur tag : snapshot ou version 
  - provider: releases
    api-key:
      secure: RQZitfoBm2ICLJovBDW1efW9eTHlw668UW8wHJBMEJwh7MkdT9R76Y8Ki1TysiyFy7TIXaavqQ6+StT5QTNB7zajeqrZgRxKYrs7Pumh8E7Kvad13Ee5CAwCASEpb/HHzHW+tL1SHSt+5DrEIZgLM9wWglK0zOtT8RitNpnw/hWf/UM0PXQfgh2MNUlOz6n9KB9TXolD9qdTKV2n/bBWzyoMLno0e3LTUDqtzfm4X/Rd4euoiy04EMHBxDooTNDhw5Vq8RLNC0FcWiz8+GfTb4tc6wt2vzp5OT77Y1WMz6Ysrd+8f4Yeod8+8/kS9NcrUEE4yir8d5OHwGVfbJ91hoMKb2ZXC86pPXQZLKRw50IGql3laI9JT1+slsKc0esmyy6AMIfkSSzLmkNHUv8NzlUJ/Kw0e+cGAkrhks2AzQnGioHxUCNGeRztNfZYqvtaLjibvRZLOZvn802elO9lGuGTo46if3OCscLAtiecWBfy5/kr4ksI3WbVtBmZSuaKK10sjXAvj/Bd9UJj3q1vuOnuT2Fszc7HmRtORPpuLEZyJjBxD9400yG17/uRMGi0d+7zzlLbqOZaHQnKccvq2/2IVW198Y8p/yT+cOQrvdXIc/edNB603BILp8/TA+taF+2iTq+i+fDh9HFPNFwaf0+Dv3NSFQLEYB9eSWaSXG0=
    skip_cleanup: true
    overwrite: true
    file: /home/travis/build/vzwingma/gestion-budget/target/webapps/budget.war
    on:
      repo: vzwingma/gestion-budget
      tags: true