<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%L -%mdc{key} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="root" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.mongodb.driver" level="INFO" />
	<!-- interrogation -->
	<logger name="com.terrier.finances" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.quartz" level="INFO" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
